@page "/location"

@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject ILocationServices _services;

<EditForm Model="@searchLoc" OnSubmit=@SeachForm>
    <div class="row">
        <div class="col-md-6">
            <InputText @bind-Value="searchLoc.District" class="form-control" placeholder="Enter District..."></InputText>       
        </div>
        <div class="col-md-2">
            <button type="submit" class="form-control btn btn-primary "><i class="fas fa-search"></i> Search</button>
        </div>
    </div>

    <div class=row>
        <div class="col-3">
            <a href="/locationCreate" class="btn btn-primary"><i class="fas fa-plus"></i> Create</a>
        </div>
    </div>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>District</th>
            <th>Ward</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in locations)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.District</td>
                <td>@item.Ward</td>
                <td>
                    <span class="badge badge-success">@item.IsActive</span>
                </td>
                <td>
                    <a href="/editLocation/@item.Id" class="btn btn-outline-warning"><i class="fas fa-pencil"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
        private List<Location> locations = new List<Location>();

        private Location searchLoc = new Location();

        protected override async Task OnInitializedAsync()
        {
            locations = await _services.getLocations(searchLoc);
        }

         private async Task SeachForm(EditContext context)
        {
            ToastService.ShowSuccess("Search successfully!", "Success");
            locations = await _services.getLocations(searchLoc);
        }
}
