@page "/manager"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject IManagerServices _services;

<EditForm Model="@searchManager" OnSubmit=@SeachForm>
    <div class="row">
        <div class="col-md-6">
            <InputText @bind-Value="searchManager.Fullname" class="form-control" placeholder="Enter Fullname..."></InputText>
        </div>
        <div class="col-md-2">
            <button type="submit" class="form-control btn btn-primary "><i class="fas fa-search"></i> Search</button>
        </div>
    </div>

    <div class=row>
        <div class="col-3">
            <a href="/managerCreate" class="btn btn-primary"><i class="fas fa-plus"></i> Create</a>
        </div>
    </div>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fullname</th>
            <th>Location</th>
            <th>Staff Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in managers)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Fullname</td>
                <td>@item.Location.District</td>
                <td>@item.StaffQuantity</td>
                <td>
                    <a href="/editManager/@item.Id" class="btn btn-outline-warning"><i class="fas fa-pencil"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Manager> managers = new List<Manager>();

    private Manager searchManager = new Manager();

    protected override async Task OnInitializedAsync()
    {
        managers = await _services.getManagers(searchManager);
    }

    private async Task SeachForm(EditContext context)
    {
        ToastService.ShowSuccess("Search successfully!", "Success");
        managers = await _services.getManagers(searchManager);
    }
}
