@page "/managerUser/{id}"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject IManagerUserServices _services;
@inject IManagerServices _managerServices;

@if (loading)
{
    <table class="table">
        <tr>
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </table>
}

@*<table class="table">
    <thead>
        <tr>
            <th>@manager.Fullname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in managerUsers)
        {
            <tr>
                <td>Salesman: @item.Salesman</td>
                <td>
                    <a href="/userDetail/@item.SalesmanId" class="btn btn-outline-info"><i class="far fa-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

 <div class="row my-5">
        <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
            <RadzenCard class="m-3">
                <h3 class="h5">Manager Information</h3>
                <div class="d-flex flex-row">
                    <RadzenImage Path="/images/manager.jpg" Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;" />
                    <div>
                        <div>Manager</div>
                        <b>@manager.Fullname</b>
                        <div class="mt-3">Company</div>
                        <b>FPT Company</b>
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard class="m-3">
                <h3 class="h5">Sales Information</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div>Kpi Value</div>
                        <b>@manager.KpiValue</b>
                        <div class="mt-3">Salesman list:</div>
                    </div>
                    <div class="col-md-8">
                        <div>Actual Kpi</div>
                        <b>@manager.ActualKpi</b>
@*                        <div class="mt-3">Freight</div>
                        <b>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", order.Freight)</b>*@
                    </div>
                </div>
            </RadzenCard>
        </div>
    </div>


<RadzenGrid style="margin-top: -30px;" @ref="managerUserGrid" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="managerUsers" TItem="vManagerUser" ColumnWidth="200px">
    <Columns>

        <RadzenGridColumn TItem="vManagerUser" Property="Salesman" Title="Salesman Name">
            <FooterTemplate>
                Displayed: <b>@managerUserGrid.View.Count()</b> of <b>@managerUsers.Count()</b>
            </FooterTemplate>
        </RadzenGridColumn>


        <RadzenGridColumn TItem="vManagerUser" Title="Action">
            <Template Context="data">
                <a href="/managerUser/@data.Id" class="btn btn-outline-info"><i class="far fa-eye"></i></a> &nbsp
                <a href="/editManager/@data.Id" class="btn btn-outline-warning"><i class="fas fa-pencil"></i></a>
            </Template>
        </RadzenGridColumn>

    </Columns>
</RadzenGrid>

<div><br /></div>
<a href="/account" class="btn btn-primary">Cancel</a>

@code {
    RadzenGrid<vManagerUser> managerUserGrid;

    private bool loading;

    private List<vManagerUser> managerUsers = new List<vManagerUser>();

    private Manager manager = new Manager();

    [Parameter]
    public string id { get; set; }
    public string managerName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        managerUsers = await _services.getManagerUsers(id);
        manager = await _managerServices.getManager(id);
        loading = false;
    }
}
