@page "/salesDetail"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject ISalesDetailServices _services;

<EditForm Model="@ftd" OnSubmit=@SeachForm>
    <div class="row">
        <div class="col-md-3">
            <label for="CreatedOn">From Date: </label>
            <InputDate TValue="DateTime?" @bind-Value="ftd.FromDate" class="form-control"></InputDate>
        </div>
        <div class="col-md-3">
            <label for="CreatedOn">To Date: </label>
            <InputDate TValue="DateTime?" @bind-Value="ftd.ToDate" class="form-control"></InputDate>
        </div>
        <div class="col-md-2">
            <button type="submit" class="form-control btn btn-primary "><i class="fas fa-search"></i> Search</button>
        </div>
    </div>
</EditForm>

<br />

@if (loading)
{
    <table class="table">
        <tr>
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </table>
}

<RadzenGrid @ref="sdGrid" AllowPaging="true" AllowSorting="true" Data="sd" TItem="SalesDetail" ColumnWidth="200px">
    <Columns>
        <RadzenGridColumn TItem="SalesDetail" Property="ProductId" Title="Product">
            <Template Context="data">
                @data.Product.Name
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="SalesDetail" Property="SalesActualQuantity" Title="Sales Actual Quantity"></RadzenGridColumn>

        <RadzenGridColumn TItem="SalesDetail" Property="TargetId" Title="Target">
            <Template Context="data">
                @data.Target.Targets
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="SalesDetail" Property="Date" Title="Date">
            <Template Context="data">
                @data.Date.ToString("dd-MM-yyyy")
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@*<table class="table">
    <thead>
        <tr>
            <th>Daily Sales</th>
            <th>Target</th>
            <th>Product</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in sd)
        {
            <tr>
                <td>@item.SalesActualQuantity</td>
                <td>@item.Target.Targets</td>
                <td>@item.Product.Name</td>
                <td>@item.Date.ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </tbody>
</table>*@

@code {
    RadzenGrid<SalesDetail> sdGrid;

    private bool loading;

    private List<SalesDetail> sd = new List<SalesDetail>();

    private FromToDate ftd = new FromToDate();


    protected override async Task OnInitializedAsync()
    {
        loading = true;
        sd = await _services.getSalesDetail(ftd.FromDate, ftd.ToDate);
        loading = false;
    }

    private async Task SeachForm(EditContext context)
    {
        ToastService.ShowSuccess("Search successfully!", "Success");
        sd = await _services.getSalesDetail(ftd.FromDate, ftd.ToDate);
    }
}
