@page "/salesdetailTargetUser"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject ISalesDetailTargetUser _services;

<EditForm Model="@ftd" OnSubmit=@SeachForm>
    <div class="row">
        <div class="col-md-3">
            <label for="Date">From Date: </label>
            <InputDate TValue="DateTime?" @bind-Value="ftd.FromDate" class="form-control"></InputDate>
        </div>
        <div class="col-md-3">
            <label for="Date">To Date: </label>
            <InputDate TValue="DateTime?" @bind-Value="ftd.ToDate" class="form-control"></InputDate>
        </div>
        <div class="col-md-2">
            <button type="submit" class="form-control btn btn-primary "><i class="fas fa-search"></i> Search</button>
        </div>
    </div>

    @*    <div class=row>
            <div class="col-3">
                <a href="#" class="btn btn-primary"><i class="fas fa-plus"></i> Create</a>
            </div>
        </div>*@
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Fullname</th>
            <th>Sale Actual Quantity</th>
            <th>Target Id</th>
            <th>Product</th>
            <th>Price</th>
            <th>Targets</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in stu)
        {
            <tr>
                <td>@item.Fullname</td>
                <td>@item.SalesActualQuantity</td>
                <td>@item.TargetId</td>
                <td>@item.ProductId</td>
                <td>@item.Price</td>
                <td>@item.Targets</td>
                <td>@item.Date.ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<vSalesDetailTargetUser> stu = new List<vSalesDetailTargetUser>();

    private FromToDate ftd = new FromToDate();


    protected override async Task OnInitializedAsync()
    {
        stu = await _services.getSalesDetailTargetUsers(ftd.FromDate, ftd.ToDate);
    }

    private async Task SeachForm(EditContext context)
    {
        ToastService.ShowSuccess("Search successfully!", "Success");
        stu = await _services.getSalesDetailTargetUsers(ftd.FromDate, ftd.ToDate);
    }
}
