@page "/storeSalesDetail"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject IStoreSalesDetailServices _services;

<EditForm Model="@ftd" OnSubmit=@SeachForm>
    <div class="row">
        <div class="col-md-3">
            <label for="CreatedOn">From Date: </label>
            <InputDate TValue="DateTime?" @bind-Value="ftd.FromDate" class="form-control"></InputDate>
        </div>
        <div class="col-md-3">
            <label for="CreatedOn">To Date: </label>
            <InputDate TValue="DateTime?" @bind-Value="ftd.ToDate" class="form-control"></InputDate>
        </div>
        <div class="col-md-2">
            <button type="submit" class="form-control btn btn-primary "><i class="fas fa-search"></i> Search</button>
        </div>
    </div>

    @*    <div class=row>
            <div class="col-3">
                <a href="#" class="btn btn-primary"><i class="fas fa-plus"></i> Create</a>
            </div>
        </div>*@
</EditForm>

<table class="table">
    <thead>
        <tr>
@*            <th>Id</th>*@
            <th>Sales Name</th>
            <th>Product</th>
@*            <th>Price</th>*@
            <th>Store</th>
            <th>Store Actual Quantity</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ssd)
        {
            <tr>
                @*<td>@item.Id</td>*@
                <td>@item.User.Fullname</td>
                <td>@item.Product.Name</td>
                @*<td>@item.Price</td>*@
                <td>@item.Store.Name</td>
                <td>@item.StoreActualQuantity</td>
                <td>@item.Date.ToString("dd-MM-yyyy")</td>
                @*                <td>
                        <a href="/editRole/@item.Id" class="btn btn-outline-warning"><i class="fas fa-pencil"></i></a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>

@code {
    private List<StoreSalesDetail> ssd = new List<StoreSalesDetail>();

    private FromToDate ftd = new FromToDate();


    protected override async Task OnInitializedAsync()
    {
        ssd = await _services.getStoreSalesDetails(ftd.FromDate, ftd.ToDate);
    }

    private async Task SeachForm(EditContext context)
    {
        ToastService.ShowSuccess("Search successfully!", "Success");
        ssd = await _services.getStoreSalesDetails(ftd.FromDate, ftd.ToDate);
    }
}