@page "/store"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject IStoreServices _services;

<EditForm Model="@searchStore" OnSubmit=@SeachForm>
    <div class="row">
        <div class="col-md-6">
            <InputText @bind-Value="searchStore.Name" class="form-control" placeholder="Enter Store Name..."></InputText>
        </div>
        <div class="col-md-2">
            <button type="submit" class="form-control btn btn-primary "><i class="fas fa-search"></i> Search</button>
        </div>
    </div>

    <br />

    <div class=row>
        <div class="col-3">
            <a href="/storeCreate" class="btn btn-primary"><i class="fas fa-plus"></i> Create</a>
        </div>
    </div>

    <br />
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Location</th>
            <th>Ward</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in stores)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <td>@item.Longitude</td>
                <td>@item.Latitude</td>
                @*<td>@item.Location.District</td>
                <td>@item.Location.Ward</td>*@
                <td>
                    <span class="badge badge-success">@item.IsActive</span>
                </td>
                <td>
                    <a href="/storeDetail/@item.Id" class="btn btn-outline-info"><i class="far fa-eye"></i></a>
                </td>
                <td>
                    <a href="/editStore/@item.Id" class="btn btn-outline-warning"><i class="fas fa-pencil"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Store> stores = new List<Store>();

    private Store searchStore = new Store();

    protected override async Task OnInitializedAsync()
    {
        stores = await _services.getStores(searchStore);
    }

    private async Task SeachForm(EditContext context)
    {
        ToastService.ShowSuccess("Search successfully!", "Success");
        stores = await _services.getStores(searchStore);
    }
}
