@page "/target"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject ITargetServices _services;

<EditForm Model="@ftd" OnSubmit=@SeachForm>
    <div class="row">
        <div class="col-md-3">
            <label for="CreatedOn">From Date: </label>
            <InputDate TValue="DateTime?" @bind-Value="ftd.FromDate" class="form-control"></InputDate>
        </div>
        <div class="col-md-3">
            <label for="CreatedOn">To Date: </label>
            <InputDate TValue="DateTime?" @bind-Value="ftd.ToDate" class="form-control"></InputDate>
        </div>
        <div class="col-md-2">
            <div></div>
            <button type="submit" class="form-control btn btn-primary "><i class="fas fa-search"></i> Search</button>
        </div>
    </div>
    <br />
    <NavLink href="targetCreate" class="btn btn-sm btn-success mb-2">Create Target</NavLink>
</EditForm>

@if (loading)
{
    <table class="table">
        <tr>
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </table>
}

<RadzenGrid @ref="targetGrid" AllowPaging="true" AllowSorting="true" Data="targets" TItem="Target" ColumnWidth="200px"
            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
    <Columns>
        <RadzenGridColumn TItem="Target" Property="Id" Title="Id"></RadzenGridColumn>
        <RadzenGridColumn TItem="Target" Property="Targets" Title="Targets"></RadzenGridColumn>
@*        <RadzenGridColumn TItem="Target" Property="UserId" Title="Saleman Name">
            <Template Context="data">
                @data.User.Fullname
            </Template>
        </RadzenGridColumn>*@

        <RadzenGridColumn TItem="Target" Property="FromDate" Title="From Date">
            <Template Context="data">
                @data.FromDate.ToString("dd-MM-yyyy")
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="Target" Property="ToDate" Title="To Date">
            <Template Context="data">
                @data.ToDate.ToString("dd-MM-yyyy")
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="Target" Property="ActualQuantity" Title="Actual Quantity"></RadzenGridColumn>

        <RadzenGridColumn TItem="Target" Title="Percentage(%)">
            <Template Context="data">
                @((data.ActualQuantity*100*1.00)/data.Targets)%
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@*<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Targets</th>
            <th>FromDate</th>
            <th>ToDate</th>
            <th>Actual Quantity</th>
            <th>Created On</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in targets)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Targets</td>
                <td>@item.FromDate.ToString("dd-MM-yyyy")</td>
                <td>@item.ToDate.ToString("dd-MM-yyyy")</td>
                <td>@item.ActualQuantity</td>
                <td>@item.CreatedOn.ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </tbody>
</table>*@

@code {
    RadzenGrid<Target> targetGrid;

    private bool loading;

    private List<Target> targets = new List<Target>();

    private List<User> users = new List<User>();

    private FromToDate ftd = new FromToDate();


    protected override async Task OnInitializedAsync()
    {
        loading = true;
        targets = await _services.getTargets(ftd.FromDate, ftd.ToDate);
        loading = false;
    }

    private async Task SeachForm(EditContext context)
    {
        ToastService.ShowSuccess("Search successfully!", "Success");
        targets = await _services.getTargets(ftd.FromDate, ftd.ToDate);
    }
}
