@page "/user"
@attribute [Authorize]
@using BlazorApp.Services
@using BlazorApp.Models
@inject IToastService ToastService
@inject IUserServices _services;

<EditForm Model="@searchUser" OnSubmit=@SeachForm>
    <div class="row">
        <div class="col-md-6">
            <InputText @bind-Value="searchUser.Fullname" class="form-control" placeholder="Enter Full Name..."></InputText>
        </div>
        <div class="col-md-2">
            <button type="submit" class="form-control btn btn-primary "><i class="fas fa-search"></i> Search</button>
        </div>
    </div>


</EditForm>
<br />
<div class=row>
    <div class="col-3">
        <a href="/userCreate" class="btn btn-primary"><i class="fas fa-plus"></i> Create</a>
    </div>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
@*          <th>Address</th>
            <th>Location</th>*@
            <th>Active</th>
            <th>Action</th>

@*            <th>Manager</th>
            <th>Active</th>
            <th>Actions</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in users)
        {
            <tr>
                <td>@item.Username</td>
                <td>@item.Fullname</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                @if (@item.Role.Title.Equals("Manager"))
                {
                    <td>
                        <span class="badge bg-danger" style="color:white">@item.Role.Title</span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="badge bg-primary" style="color:white">@item.Role.Title</span>
                    </td>
                }
                
@*                <td>@item.Address</td>
                <td>@item.Location.District</td>*@

                <td>
                    <span class="badge badge-success">@item.IsActive</span>
                </td>
       
                <td>
                    <a href="/editUser/@item.Id" class="btn btn-outline-info"><i class="far fa-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<User> users = new List<User>();

    private User searchUser = new User();

    protected override async Task OnInitializedAsync()
    {
        users = await _services.getUsers(searchUser);
    }

    private async Task SeachForm(EditContext context)
    {
        ToastService.ShowSuccess("Search successfully!", "Success");
        users = await _services.getUsers(searchUser);
    }
}
